# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Visual Studio files
*.obj
*.pdb
*.ilk
*.pch
*.suo
*.exp
*.dll
*.aps
*.lib
*.idb
*.pdb
*.ipch
*.opensdf
*.sdf
*.VC.db
*.VC.VC.opendb
*.VC.opendb
.vs/

# CMake files
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
build/
install/
x64/
